<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Codice">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>app/Ast</directory>
            <directory>app/Interfaces</directory>
            <directory>app/Lexer</directory>
            <directory>app/Parser</directory>
            <directory>app/Runtime</directory>
            <directory>app/Types</directory>
            <directory>app/Visitors</directory>
        </include>
        <exclude>
            <!-- Bytecode compiler PoC, still under active development and untested -->
            <file>app/Visitors/ByteCode.php</file>
        </exclude>
    </source>
</phpunit>
